@import url(colors.css);

.image-carousel-container {
    display: flex;
}

.image-carousel-images {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: clip;
    display: flex;
    background-color: var(--darkColor);
}

.image-carousel-images .img-style {
    transition: all 1s ease;
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-carousel-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
}

.card-carousel-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 100;
}

.carousel-button {
    line-height: 0;
    background-color: var(--darkColor);
    color: var(--lightColor);
}

.carousel-button:hover {
    background-color: var(--lightColor);
    color: var(--darkColor);
}

.card-carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.card-carousel-cards {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: clip;
    display: flex;
    background-color: var(--darkColor);
}

.card-carousel-card {
    transition: transform 1s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.card-carousel-image-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-carousel-description-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--lightColor);
    justify-content: space-between;
}

.card-carousel-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}

.card-carousel-description-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    outline: 1px solid var(--borderColor);
    padding: 1rem;
}

.card-carousel-description-item i {
    font-size: 2rem;
}

.card-carousel-description-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
}